body{
    background: #FAFAFA;
    font-family: Roboto;
}

#titleTable{
    background: #FAFAFA;
    font-size: 30px;
}

th{
  background: #ECEFF1;
    text-align: center;
}

td{
    text-align: center;
}

h1:hover{
    -webkit-text-shadow: 3px 3px 2px #999;
    -moz-text-shadow: 3px 3px 2px #999;
    text-shadow: 2px 2px 1px #999;
}

#apro:hover{
    background: #A5D6A7;
}
#apro_cuerpo:hover{
    background: #E8F5E9;
}

#desapro:hover{
    background: #EF9A9A;
}
#desapro_cuerpo:hover{
    background: #FFEBEE;
}

#baja:hover{
    background: #90CAF9;
}
#baja_cuerpo:hover{
    background: #E3F2FD;
}
